.log-in {
    background-color: #d9c3f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-in .overlap-wrapper {
    background-color: #d9c3f5;
    height: 832px;
    width: 1280px;
  }
  
  .log-in .overlap {
    height: 816px;
    left: 53px;
    position: relative;
    width: 1129px;
  }
  
  .log-in .rectangle {
    background-color: #ffffff;
    border-radius: 36px;
    height: 689px;
    left: 447px;
    position: absolute;
    top: 89px;
    width: 682px;
  }
  
  .log-in .group {
    height: 401px;
    left: 562px;
    position: absolute;
    top: 233px;
    width: 494px;
  }
  
  .log-in .text-wrapper {
    color: #383535;
    font-family: "PP Telegraf-UltraBold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    height: 36px;
    left: 111px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 223px;
  }
  
  .log-in .div {
    height: 136px;
    left: 0;
    position: absolute;
    top: 110px;
    width: 492px;
  }
  
  .log-in .overlap-group {
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 492px;
  }
  
  .log-in .email-address {
    height: 36px;
    left: 57px;
    position: absolute;
    top: 14px;
    width: 435px;
  }
  
  .log-in .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 34px;
    width: 427px;
  }
  
  .log-in .text-wrapper-2 {
    color: #9d9d9d;
    font-family: "PP Telegraf-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    height: 35px;
    left: 37px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .log-in .mail {
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 61px;
  }
  .log-in .key{
    height: 64px;
    position: absolute;
    top: 0;
    right: 425px;
    width: 61px;
  }
  
  .log-in .password {
    height: 36px;
    left: 55px;
    position: absolute;
    top: 100px;
    width: 435px;
  }
  
  .log-in .icon-eye-slash {
    height: 19px;
    left: 407px;
    position: absolute;
    top: 9px;
    width: 22px;
  }
  
  .log-in .create-account {
    height: 47px;
    left: 24px;
    position: absolute;
    top: 354px;
    width: 435px;
  }
  
  .log-in .overlap-2 {
    border-radius: 22px;
    height: 73px;
    position: relative;
    top: -13px;
    width: 427px;
  }
  
  .log-in .rectangle-2 {
    background-color: #be87b4;
    border: 1px solid;
    border-color: #b0d8da;
    border-radius: 22px;
    height: 73px;
    left: 0;
    position: absolute;
    top: 0;
    width: 427px;
  }
  
  .log-in .text-wrapper-3 {
    color: #ffffff;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 35px;
    font-weight: 800;
    height: 35px;
    left: 154px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 17px;
    white-space: nowrap;
  }
  
  .log-in .abstraction {
    height: 710px;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 106px;
    width: 562px;
  }
  
  
  