.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f0f7;
  padding-top: 8rem;
  padding-left: 15rem;
  padding-right: 10rem;
  padding-bottom: 8rem;
}

.main-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 5rem;
  padding-right: 3rem;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-div img {
  height: 150px;
  width: 150px;
}

/*header section*/
.logo-img {
  height: 40vh;
}

.login-button {
  font-family: 'Outfit', sans-serif;
  padding-left: 50rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.main-slider img {
  height: 500px;
  width: 720px;
}

.main-content h1 {
  font-family: 'Goldman', sans-serif;
  font-size: 3.2rem;
}

.main-content h3 {
  color: orangered;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.main-content h4 {
  text-align: left;
  color: rgb(152, 45, 6);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-left: 1.2rem;
}

.apply {
  display: flex;
  align-items: flex-end;
  background-color: #f7f7f7;
  border-radius: 70px;
  justify-content: space-around;
  padding: 13px 3px;
  width: 176px;
  margin-bottom: 2rem;
}

.apply .apply-button {
  color: black;
  font-family: "Outfit";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  width: fit-content;
}

.ellipse-1 {
  background-color: #40f8ff;
  border-radius: 11px;
  height: 22px;
  left: 700px;
  position: absolute;
  top: 224px;
  width: 22px;
}

.ellipse-2 {
  background-color: #40f8ff;
  border-radius: 11px;
  height: 22px;
  left: 600px;
  position: absolute;
  top: 175px;
  width: 22px;
}