*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f0f7;
}
.main-div{
    
    display: flex;
    flex-direction: column;
    background-color: white;
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-div{
    display: flex;
    flex-direction: row;
}


/*header section*/
.logo-img{
    height: 40vh;
}
.login-button{
    font-family: 'Outfit', sans-serif;
}