.head-hr-view-all-hr {
    height: 100vh;
    width: 60%;
    background-color: #F7F7F8;
    position: absolute;
    left: 15%;
    top: 0;
}

.hr-content {
    height: 50vh;
    width: 50%;
    background-color: red;
}